@import "reset"

body
  font-size 16px
  font-family sans-serif
  padding 20px

.hero
  text-align center
  margin-left auto
  margin-right auto
  display flex
  flex-direction column
  align-items center
  color #fff

.slot-machine
  background-color #EE6B33
  padding 10px
  transition-duration: 1s;

.slots
  background-color #000000
  margin-top 20px

.slot
  display inline-block
  height 50px
  width 50px
  margin 1em 0.5em 1em 0.5em
  border-radius 20px

.red
  background-color red

.blue
  background-color blue

.green
  background-color green

.yellow
  background-color yellow

.button
  margin 20px
  height 50px
  width 50px
  border-radius 100px
  border 0px solid black
  background-color red
  background-image url('../images/icon.png')
  background-size 80%
  background-repeat no-repeat
  background-position center
  cursor pointer
